*{
    margin: 0;
    padding: 0;

}

.Vernie{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-image: url(vern\ 6.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 215px;
    float: left;
    height: 70px;

}

.logo{
    color: #ff7200;
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}

.menu{
    width: 400px;
    float: left;
    height: 70px;

}